@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact{
    width: 100%;
    background-position: center;
    height: 100vh;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(Images/Header.jpg);
    background-size: cover;
}
.logo{
    float: left;
}

.logo img{
    height: 42px;
    margin-top: -50px;
    margin-right: 1150px;
    padding: 10 10px;
    transition: 0.6s;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.containerr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.containerr .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.containerr .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.containerr .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.containerr .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.containerr .contactinfo .box .text h3{
    font-weight: 500;
    color: #d62d2d;
}

.contactForm{
    width: 35%;
    margin-top: 40px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

.contactForm h2{
    font-size: 30px;
    color: #d62d2d;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #d62d2d;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #d62d2d;   
    transform: translateY(-20px);
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #d62d2d;
    font-size: 14px;
 
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #d62d2d;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .containerr{
        flex-direction: column;
    }
    .containerr .contactinfo{
        margin-bottom: 40px;
    }
    .containerr .contactinfo,
    .contactForm{
        width: 100%;
    }
}